// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed,
// figure, figcaption, footer, header, hgroup,
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	font: inherit;
// 	vertical-align: baseline;
// }
//
// html, body {
//   padding: 3rem 0 0 3rem;
// }
//

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #88b3ca;
  color: #fff;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

text {

}

svg {
  border: 0px solid black;
}

path.polarCurve {

  stroke-width: 2;
  &:nth-child(even) {
    stroke: #51103C;
  }

  &:nth-child(odd) {
    stroke: #8E1C42;
  }

}

#polar-diagram-tooltip {
  border: 1px solid black;
  border-radius: 2px;
  width: 100px;
  height: 25px;
  padding-left: 3px;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s ease;
}

div.diagram-container {
  width: 400px;
  height: 800px;
  position: relative;
}

circle.closest-point {
  pointer-events: none;
}
//
// div.tagline {
//   font-size: 3rem;
//   margin-bottom: 2rem;
// }
//
// span.light {
//   font-weight: 300;
//   font-style: italic;
// }
//
// span.black {
//   font-weight: 900;
// }
//
// img.logo {
//   width: auto;
//   height: 200px;
//   opacity: 0.5;
// }
//
// img.logo:hover {
//   opacity: 1;
// }
